<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.CountryMapper" >
	
	<!-- 分页查询 -->
	<select id="finds" resultType="country">
		SELECT
			id,
			countryname,
			countrycode
		FROM
			country
	</select>
	
	<!-- 查询博客数量 -->
	<select id="counts" resultType="long">
		SELECT
			count(*)
		FROM
			country
	</select>
	
	
</mapper>
